body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #fff;
	background-image:
	linear-gradient(90deg, transparent 79px, #10CFBD 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

#memoryGame {
	height: 100%;

}

.main {
	margin: 40px 0px 0px 80px
}

.infoContainer {

	font-size: 24px;
}


.winContainer {
    width: 100%;
    position: fixed;
    left: 40%;
    font-size: 24px;
}

.winContainer > p > img {
    width: 100px;
    margin: 30px;
}

.top {
	border-bottom: 3px solid #10CFBD;
	max-width: 100%;
}

.btn-circle.btn-lg {
	height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  margin: 10px;
	color: #fff;
	background-color: #10CFBD;
  border-color: #15AD9E;
}
