body {
	height: 100%;
	padding: 0;
	margin: 0;
}

#memoryGame {
	height: 100%;
	background-color: #fff;
	background-image:
	linear-gradient(90deg, transparent 79px, #10CFBD 79px, #10CFBD 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

.cardsContainer {
    position: fixed;
		right: 0;
    margin-right: 200px;
}

.infoContainer {
    margin-left: 30px;
    margin-top: 24px;
    position: fixed;
    font-size: 30px;
}


.winContainer {
    width: 100%;
    position: fixed;
    left: 31%;
    font-size: 77px;

 }

.winContainer > p > img {
    width: 100px;
    margin: 30px;
}
