body {
	height: 100%;
	padding: 0;
	margin: 0;
}

#memoryGame {
	height: 100%;
	background:
	repeating-linear-gradient(
		to top left,
		transparent,
		transparent 5em,
		#96526B 5em,
		#96526B 10em,
		transparent 10em,
		transparent 15em,
		#F5CF66 15em,
		#F5CF66 20em
	),
	repeating-linear-gradient(
		to top right,
		transparent,
		transparent 5em,
		#EBAD60 5em,
		#EBAD60 10em,
		transparent 10em,
		transparent 15em,
		#8BAB8D 15em,
		#8BAB8D 20em
	), wheat;

	background-blend-mode: multiply;
}

.cardsContainer {
	width: 420px;
    height: 420px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -9em;
    margin-left: -15em;
    border: 10px solid #96526B;
    background-color: wheat;
}

.infoContainer {
	position: fixed;
    top: 35%;
    left: 50%;
    margin-top: -9em;
    margin-left: -12em;
    font-weight: 700;
    font-size: 20px;
}